body {
	overflow:hidden;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#full_imgs {
	overflow:hidden;
	white-space:nowrap;
	width:100%;
}

.full_img{
	width:33%;
	padding-left:33%;
	padding-right:34%;
	display:inline-block;
	float:none;
}

#thumb_imgs {
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	padding:5px;
}

#thumb_imgs:hover {
	overflow:auto;
}

.thumb_img{
	display:inline-block;
	float:none;
}

a {
  color: #00B7FF;
}
